@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-brown: #0E4732;
    --primary-neon: #00E3E3;

}
body{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    background-color: var(--primary-brown);
    color: var(--primary-neon);
    text-align: center;
}

h1{
    text-align: center;
    margin: 2rem;
}
.container{
    width: 50%;
    
    margin: auto;
}
input,label{
    display: block;
    padding: .5rem;
}
input{
    margin-bottom: 0.5rem;
    width: 100%;
}
#submit-btn{
    margin-top: 1rem;
    margin: auto;
    display: block;
    background: transparent;
    color: var(--primary-green);
    border-color: var(--primary-green);
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
#output{
    display: block;
    text-align: center;
    font-size: large;
    padding: 1rem;
}